body {
  margin: 0;
  /* background-color: black; */
}
.header {
  width: 100%;
  min-height: 140px;
  background-image: url(imagebanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: flex-end;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin-right: 20px;
}
.nav-link {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}
#search-input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
}
/* .imagebanner img {
  width: 100%;
  position: absolute;
}
.logo,
.oscar,
.play,
.input {
  z-index: 2;
}
.logo:hover,
.oscar:hover,
.play:hover,
.input:hover {
  opacity: 0.8;
}
main {
  width: 400vh;
}
nav {
  margin-left: 8%;
  height: 147.781px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}
.play {
  margin-bottom: 20px;
  color: white;
  width: 180px;
}
.oscar {
  margin-bottom: 20px;
  color: white;
  width: 150px;
}
.input-film-serial {
  color: white;
}
#input-film-serial {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 150px;
  border-radius: 5px;
} */
